
<DSL Version='1.13'>
    <Project>
        <Name>FBUserIntegrationApp.IAPOMModel</Name>
        <Version>01.00.00</Version>
        <Prefix>IntegrationApp</Prefix>
        <Domain>FBUserIntegrationApp</Domain>
        <DomainAcronym>IA</DomainAcronym>
        <Guid>21ee9890-18eb-4560-b074-7948a4815667</Guid>
		<ProjectKind>Pom</ProjectKind>
    </Project>
    <References>
    </References>
</DSL>