
<DSL Version='1.13'>
    <Project>
        <Name>FBUserIntegrationApp.IAPOMModel</Name>
        <Version>01.00.00</Version>
        <Prefix>IntegrationApp</Prefix>
        <Domain>FBUserIntegrationApp</Domain>
        <DomainAcronym>IA</DomainAcronym>
        <Guid>21ee9890-18eb-4560-b074-7948a4815667</Guid>
		<ProjectKind>Pom</ProjectKind>
    </Project>
    <References>
		<Project>
			<Name>FBIntegrationLibrary.MSModel</Name>
			<Version>01.00.00</Version>
			<Prefix>IntegrationLibrary</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>9ba3b4ad-5a49-4dbe-b632-8659202a70c2</Guid>
		</Project>
		<Project>
			<Name>EQU_OP.OPModel</Name>
			<Version>05.00.01</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>OperationalData</Domain>
			<DomainAcronym>OP</DomainAcronym>
			<Guid>f6d3497a-ae95-4434-bb5c-2ba60582394f</Guid>
		</Project>
		<Project>
			<Name>WI_MS.MSModel</Name>
			<Version>02.00.01</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>7d1b870e-67f3-457d-bda8-7025ce53ffbd</Guid>
		</Project>
		<Project>
			<Name>WI_OP.OPModel</Name>
			<Version>02.00.01</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>OperationalData</Domain>
			<DomainAcronym>OP</DomainAcronym>
			<Guid>37346e9e-9996-485f-91d1-4b5f02aef4e8</Guid>
		</Project>
		<Project>
			<Name>ES_SD.SDModel</Name>
			<Version>02.00.01</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>SystemData</Domain>
			<DomainAcronym>SD</DomainAcronym>
			<Guid>fd9b7a5c-2bec-40d8-b4cd-a73beb9d2d75</Guid>
		</Project>
		<Project>
			<Name>TSK_MS.MSModel</Name>
			<Version>06.00.01</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>f3e83191-3478-457f-897d-845cc90e21cc</Guid>
		</Project>
		<Project>
			<Name>BPF_MS.MSModel</Name>
			<Version>03.00.01</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>6fe8fd43-9bb0-4b9f-88d7-cd31ef79ca86</Guid>
		</Project>
		<Project>
			<Name>FB_PluginBase.PBModel</Name>
			<Version>31.00.00</Version>
			<Prefix>Siemens.SimaticIT.U4DM</Prefix>
			<Domain>PluginBase</Domain>
			<DomainAcronym>PB</DomainAcronym>
			<Guid>ce5d346c-52fc-4520-8e1a-3be0675f7c7b</Guid>
		</Project>
		<Project>
			<Name>FB_MS_ITLK.MSModel</Name>
			<Version>31.00.00</Version>
			<Prefix>Siemens.SimaticIT.U4DM</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>2b407fae-ca76-4c70-b29d-1b7594751897</Guid>
		</Project>
		<Project>
			<Name>ConfigKey.RFModel</Name>
			<Version>31.00.00</Version>
			<Prefix>Siemens.SimaticIT.U4DM.RD.FB</Prefix>
			<Domain>ReferenceData</Domain>
			<DomainAcronym>RF</DomainAcronym>
			<Guid>ff4b4830-cb7d-4b93-91f8-f657456a54b3</Guid>
		</Project>
		<Project>
			<Name>CHR_MS.MSModel</Name>
			<Version>02.00.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>d85b6a83-0a46-4c2e-a180-8ab017c780e1</Guid>
		</Project>
		<Project>
			<Name>DEF_MS.MSModel</Name>
			<Version>01.00.00</Version>
			<Prefix>Siemens.OpcenterEX.FN</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>ae1fd607-c550-4a11-b5d5-adaf3e6d2cb1</Guid>
		</Project>
		<Project>
			<Name>FB_MS_BOP.MSModel</Name>
			<Version>31.00.00</Version>
			<Prefix>Siemens.SimaticIT.U4DM</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>43505cfd-dbd3-4fc5-87ae-cda08d8af79c</Guid>
		</Project>
		<Project>
			<Name>MAT_OP.OPModel</Name>
			<Version>03.00.01</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>OperationalData</Domain>
			<DomainAcronym>OP</DomainAcronym>
			<Guid>60ed4660-135d-4f02-a038-e985798d4e5a</Guid>
		</Project>
		<Project>
			<Name>FB_OP_MAT.OPModel</Name>
			<Version>31.00.00</Version>
			<Prefix>Siemens.SimaticIT.UADM</Prefix>
			<Domain>OperationalData</Domain>
			<DomainAcronym>OP</DomainAcronym>
			<Guid>8631561b-1261-4baa-9756-748245878020</Guid>
		</Project>
		<Project>
			<Name>CHR_OP.OPModel</Name>
			<Version>02.00.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>OperationalData</Domain>
			<DomainAcronym>OP</DomainAcronym>
			<Guid>230ea356-4f17-4e24-8ec6-1cc43d41b1ca</Guid>
		</Project>
		<Project>
			<Name>FB_MS_AMMS.MSModel</Name>
			<Version>31.00.00</Version>
			<Prefix>Siemens.SimaticIT.U4DM</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>2aae1309-2750-4ec2-97f2-3d33a90bac61</Guid>
		</Project>
		<Project>
			<Name>FB_MS_CERT.MSModel</Name>
			<Version>31.00.00</Version>
			<Prefix>Siemens.SimaticIT.U4DM</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>44c9d0a6-aefb-4c8f-823c-a3f196274cf3</Guid>
		</Project>
		<Project>
			<Name>IdGenerate.OPModel</Name>
			<Version>31.00.00</Version>
			<Prefix>Siemens.SimaticIT.U4DM</Prefix>
			<Domain>OperationalData</Domain>
			<DomainAcronym>OP</DomainAcronym>
			<Guid>b96dac5b-c281-45fa-b02d-ede44038ed6b</Guid>
		</Project>
		<Project>
			<Name>ATN_MS.MSModel</Name>
			<Version>02.01.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>bf24f074-861a-47ce-abb9-7b3541e92917</Guid>
		</Project>
		<Project>
			<Name>OPCUAConnect_MS.MSModel</Name>
			<Version>01.01.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>288f2c85-c9f0-4b4e-b139-798e577beb68</Guid>
		</Project>
		<Project>
			<Name>FB_MS_AGWInt.MSModel</Name>
			<Version>31.00.00</Version>
			<Prefix>Siemens.SimaticIT.U4DM</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>ba4b945c-b781-40a4-8854-07430fcd8fe3</Guid>
		</Project>
		<Project>
			<Name>T4EAInt.OEModel</Name>
			<Version>31.00.00</Version>
			<Prefix>Siemens.SimaticIT.U4DM</Prefix>
			<Domain>MsExt</Domain>
			<DomainAcronym>OE</DomainAcronym>
			<Guid>5e138739-e695-4608-aebf-23ab162c0056</Guid>
		</Project>
		<Project>
			<Name>Runtime.OPModel</Name>
			<Version>31.00.00</Version>
			<Prefix>Siemens.SimaticIT.U4DM</Prefix>
			<Domain>OperationalData</Domain>
			<DomainAcronym>OP</DomainAcronym>
			<Guid>dbe8a63f-bfb7-4ace-8028-22723b5552ea</Guid>
		</Project>
		<Project>
			<Name>FB_MS_BOM.MSModel</Name>
			<Version>31.00.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>bd6486b6-8404-4970-94ae-3fc14f6b3e95</Guid>
		</Project>
		<Project>
			<Name>UDM_RF.RFModel</Name>
			<Version>04.00.01</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>ReferenceData</Domain>
			<DomainAcronym>RF</DomainAcronym>
			<Guid>b269393d-8ab1-41c1-9337-181487273e8f</Guid>
		</Project>
		<Project>
			<Name>MAT_MS.MSModel</Name>
			<Version>02.00.01</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>e4cb0739-232d-491f-ae07-1146e83707ac</Guid>
		</Project>
		<Project>
			<Name>EQU_MS.MSModel</Name>
			<Version>05.00.01</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>ac738ed8-106a-493a-b34b-74ca1d725a2e</Guid>
		</Project>
		<Project>
			<Name>ES_MS.MSModel</Name>
			<Version>02.00.01</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>48c08e96-a844-47b6-a0a8-4d92062de989</Guid>
		</Project>
		<Project>
			<Name>FB_COMMON_BIN.CMModel</Name>
			<Version>31.00.00</Version>
			<Prefix>Siemens.SimaticIT.U4DM</Prefix>
			<Domain>CommonBin</Domain>
			<DomainAcronym>CM</DomainAcronym>
			<Guid>30dbcc19-d880-49ae-bd8d-fde3372f8a45</Guid>
		</Project>
		<Project>
			<Name>FB_RD_SERV.RFModel</Name>
			<Version>31.00.00</Version>
			<Prefix>Siemens.SimaticIT.U4DM</Prefix>
			<Domain>ReferenceData</Domain>
			<DomainAcronym>RF</DomainAcronym>
			<Guid>e83748c6-1d12-4fd4-bfd2-1a09e1a7b915</Guid>
		</Project>
		<Project>
			<Name>FB_MS_EQUIPMENT.MSModel</Name>
			<Version>31.00.00</Version>
			<Prefix>Siemens.SimaticIT.U4DM</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>95edae3b-b859-42d9-8cd2-94bd995db227</Guid>
		</Project>
		<Project>
			<Name>FB_MS_MAT.MSModel</Name>
			<Version>31.00.00</Version>
			<Prefix>Siemens.SimaticIT.UADM</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>214fb594-6721-4d53-8439-804aba07185d</Guid>
		</Project>
		<Project>
			<Name>MatTool.MSModel</Name>
			<Version>31.00.00</Version>
			<Prefix>Siemens.SimaticIT</Prefix>
			<Domain>MasterData</Domain>
			<DomainAcronym>MS</DomainAcronym>
			<Guid>ead9ee2a-a368-44a0-acc0-b189698b2dd1</Guid>
		</Project>
    </References>
</DSL>